<div class="col-span-7">
    <h2 class="text-5xl font-light py-4 mb-4">FAQs</h2>
    <div class="mb-6">
        <h4 class="font-semibold text-2xl">Where can I join GNU social?</h4>
        <p class="">
            There are many kinds of GNU social server instances online right now!
            <br />
            <br />

            <a class="text-red-800 underline">Click here</a> to see a list of popular GNU social sites you can join!
            <br />
            <br />

            Disclaimer: Please note that the GNU social development team is not responsible for the operation or content
            of sites that run its software.
        </p>

    </div>
    <div>
        <h4 class="font-semibold text-2xl">Who makes GNU social?</h4>
        <p class="">
            The current development team is lead by Diogo Cordeiro. A list containing the current devs and other
            contributors is available here. The founders of the GNU social project were Matt Lee, Evan Prodromou and
            Mikael Nordfeldth.
        </p>

    </div>
</div>