<div class="max-w-screen-xl mx-auto md:grid md:grid-cols-4 gap-4 py-8 mb-4 px-4">
    <div class="my-4">
        <div class="bg-gray-100 inline-block p-4 rounded-full">
            <img src="img/icon1.svg">
        </div>
        <h3 class="text-2xl font-semibold">Versatile</h3>
        <p class="text-lg font-light">GNU social supports both single-user and community modes and can be used in an
            intranet environment or as part of the wider Free Network.</p>
    </div>
    <div class="my-4">
        <div class="bg-gray-100 inline-block p-4 rounded-full">
            <img src="img/icon2.svg">
        </div>
        <h3 class="text-2xl font-semibold">Plug and Play</h3>
        <p class="text-lg font-light">Because GNU social is minimal and libre, it runs virtually anywhere you can run a
            common piece of web software, such as WordPress or Drupal. JavaScript is optional.</p>
    </div>
    <div class="my-4">
        <div class="bg-gray-100 inline-block p-4 rounded-full">
            <img src="img/icon3.svg">
        </div>
        <h3 class="text-2xl font-semibold">Privacy focused</h3>
        <p class="text-lg font-light">GNU social is part of the GNU project, it's 100% free software, with no malicious
            features or spyware.</p>
    </div>
    <div class="my-4">
        <div class="bg-gray-100 inline-block p-4 rounded-full">
            <img src="img/icon4.svg">
        </div>
        <h3 class="text-2xl font-semibold">Stable</h3>
        <p class="text-lg font-light">GNU social has been used in production environments for over ten years.</p>
    </div>

</div>