<header class="px-8 py-4 flex justify-between items-center">
    <div class="logo">
        <img src="/img/logo.svg">
    </div>
    <div class="menu md:block hidden text-gray-500">
        <a href="#" class="mr-4 hover:text-white">About GNU</a>
        <a href="#" class="mr-4 hover:text-white">Philosphy</a>
        <a href="#" class="mr-4 hover:text-white">Licenses</a>
        <a href="#" class="mr-4 hover:text-white">Education</a>
        <a href="#" class="mr-4 hover:text-white">Software</a>
        <a href="#" class="mr-4 hover:text-white">Documentation</a>
        <a href="#" class="mr-4 hover:text-white">Help GNU</a>
    </div>
    <div>
        <a href="#" class="bg-gray-800 p-2 font-bold rounded uppercase">Join the FSF</a>
    </div>
</header>
<nav class="py-4 flex justify-center items-center text-white px-1">
    <div>
        <a href="/" class="mr-4">About</a>
        <a href="/news" class="mr-4">News</a>
        <a href="https://notabug.org/diogo/gnu-social" class="mr-4">Development</a>
        <a href="https://notabug.org/diogo/gnu-social/src/nightly/DOCUMENTATION/DEVELOPERS"
            class="mr-4">Documentation</a>
    </div>
</nav>