<div class="max-w-4xl mx-auto flex flex-col py-12 items-center text-center px-4">
    <div><img src="img/gnusocial.png"></div>
    <h1 class="md:py-4 py-2 text-4xl md:text-6xl leading-tight">The <span
            class="text-red-700 font-bold">free/libre</span> software social networking platform.</h1>
    <p class="text-xl font-light py-4 leading-tight">GNU social connects you to a free network of
        thousands of communities that discuss daily on a variety of topics, each being part of the whole.</p>
    <div class="py-8">
        <a class="px-8 py-2 text-red-700 text-xl font-bold border-2 border-red-700 rounded mr-4" href="https://gnusocial.network/try/" target="_blank">JOIN US</a>
        <a class="px-8 py-2 text-white text-xl font-bold border-2 border-red-700 rounded bg-red-700"
            href="https://notabug.org/diogo/gnu-social/src/nightly/INSTALL.md" target="_blank">INSTALL</a>
    </div>
</div>
