<div class="max-w-screen-xl mx-auto mb-12 px-4">
    <h2 class="text-5xl font-light py-4 mb-4">Support the project</h2>
    <div class="md:grid md:grid-cols-3 gap-4">
        <a href="https://liberapay.com/diogo/donate">
            <div class="flex flex-col items-center rounded text-center px-12 py-20 shadow-md card-bg">
                <img src="img/librapay.png">
                <h3 class="text-2xl font-semibold mt-4">Librapay</h3>
                <p class="font-normal">Donate to the project lead developer, Diogo Cordeiro, with Liberapay</p>
            </div>
        </a>
        <a href="https://hackersatporto.teemill.com/collection/gnu-social/">
            <div class="flex flex-col items-center rounded text-center px-12 py-20 shadow-md card-bg">
                <img src="img/gnusmall.png">
                <h3 class="text-2xl font-semibold mt-4">Merchandising</h3>
                <p class="font-normal">Donate to the project lead developer, Diogo Cordeiro, with Liberapay</p>
            </div>
        </a>
        <a href="https://gnusocial.network/assets/zip/logos.tar.gz">
            <div class="flex flex-col items-center rounded text-center px-12 py-20 shadow-md card-bg">
                <img src="img/gnusmall.png">
                <h3 class="text-2xl font-semibold mt-4">Logos</h3>
                <p class="font-normal">Donate to the project lead developer, Diogo Cordeiro, with Liberapay</p>
            </div>
        </a>
    </div>
</div>